<% include partials/header %>
<% include partials/navbar %>
<% include partials/flash %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Contact Us Here</h1>
    <hr class="my-4" />
    <p class="lead">
      G-Mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subash Thangam K
    </p>
    <p class="lead">
      Facebook:&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
      </a>
    </p>
    <hr class="my-4" />
  </div>
</div>

<% include partials/footer %>